.mapContainer {
  position: absolute;
  top: 50px;
  right: 0;
  left: 150px;
  bottom: 0;
}
 
.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
  