.mapContainer {
  position: relative;
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  overflow: hidden;
  width: 1200px;
  height: 500px;
  /* width: 100%;
  height:100%; */

}

/* .map {
  width: 100%;
  height:100%;
} */
 
.sidebarStyle {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
  