#components-layout-demo-top-side .logo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
.ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
  
.site-layout-background {
    background: #fff;
}

.Footer {
    margin:0 auto; 
}
.FooterButton {
    margin:0 auto;
}